p {
	font-size: large;
	color: black;
}

h3 {
	font-size: medium;
	color: gray;
	display: inline;
}

b {
	color: red;
}

table {
	border-collapse: collapse;
}

body {
	margin-top: 6%;
	margin-right: 5%;
	position: relative;
	visibility: visible;
	bottom: 5%;
	top: 5%;
	font-family: Garamond, Corbel, Verdana;
	font-size: large;
}

a {
	text-decoration: none;
	color: gray;
	font-size: large;
}

img {
	border: none;
}

textarea {
	font-family: Corbel;
}

.hidden {
	display: none;
}

.unhidden {
	display: text;
}

#holder {
  margin-left: 10%;
  height: 400px;
  width: 400px;
  display: inline-table;
}

#dataTable {
  width: 50%;
  float: right;
  display: inline;
}

.dataName {
  color: black;
  font-size: small;
}

.dataAmount {
  font-size: small;
}

.result_white {
  color: white;
}

.result_black {
  color: black;
}

.headerName {
  color: black;
  font-size: small;
}

.headerAmount {
  color: black;
  font-size: small;
}

.dataHeader {
  color: gray;
  font-size: small;
}

.comparisonHeaderName {
  color: gray;
  font-size: small;
}

.comparisonAmount {
  color: gray;
  font-size: small;
}

#intro {
  float: left;
  width: 100%;
  font-size: small;
  color: gray;
}

#notes {
  margin-top: 2%;
  float: left;
  width: 100%;
  font-size: small;
  color: gray;
}

#footer {
  float: left;
  margin-top: 2%;
}