p {
	font-size: large;
	color: black;
}

h3 {
	font-size: medium;
	color: gray;
	display: inline;
}

b {
	color: red;
}

table {
	border-collapse: collapse;
}

body {
	margin-top: 6%;
	margin-right: 5%;
	position: relative;
	visibility: visible;
	bottom: 5%;
	top: 5%;
	font-family: Garamond, Corbel, Verdana;
	font-size: large;
}

a {
	text-decoration: none;
	color: gray;
	font-size: large;
}

img {
	border: none;
}

textarea {
	font-family: Corbel;
}

.hidden {
	display: none;
}

.unhidden {
	display: text;
}

#holder {
  margin-left: 20%;
  height: 400px;
  width: 400px;
}

#dataTable {
  margin-left: 20%;
  float: left;
  width: 50%;
}

.dataName {
  color: black;
}

.dataAmount {
  color: red;
}

.dataHeader {
  color: gray;
}

#notes {
  margin-top: 2%;
  float: left;
  width: 100%;
  font-size: small;
  color: gray;
}

#footer {
  float: left;
  margin-top: 2%;
}