<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Resizing the Pie</title>
	<meta name="author" content="Abe Epton">
	<link rel="stylesheet" href="stylesheets/main.css">
	<script src="js/raphael.js"></script>
	<script src="js/shared.js"></script>
	<script src="js/resize.js"></script>
</head>
<body>
<div id="intro">
	Adjust the budget by clicking on the pie slices you'd like to give more money to.<br>
	(Click on the thinktank names to see how they'd allocate the money.)
</div>
<div id="holder"></div>
<div id="dataTable">
	<table>
		<th>
			<tr>
				<td class="headerName">Category</td>
				<td class="headerAmount">Your Preferred Amount</td>
				{% for comp in comparisons %}
					<td class="comparisonHeaderName">{{ comp.name }}</td>
				{% endfor %}
			</tr>
		</th>{% for priority in priorities %}
		<tr style="background: {{ priority.background }}">
			<td class="dataName">{{ priority.name }}</td>
			<td id="{{ forloop.counter0 }}.user.amt" class="dataAmount"></td>
			{% for value in priority.comparison_values %}
				<td class="comparisonAmount">{{ value }}</td>
			{% endfor %}
		{% endfor %}
	</table>
</div>
<div id="notes">
	Notes:
	* Instead of using discretionary/mandatory, break out discretionary by category
	* Clicking on table should increase size of corresponding pie slice
	* Hovering on table should display corresponding label?
</div>
<div id="footer">
	This is using Dmitry Baranovskiy's <a href="http://raphaeljs.com/">Raphaël</a> library
	and is indebted to <a href="http://raphaeljs.com/growing-pie.html">this demo</a>.
</div>
</body>
</html>
