<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Resizing Demos</title>
	<meta name="author" content="Abe Epton">
	<link rel="stylesheet" href="stylesheets/main.css" TYPE="text/css">
	<script src="js/raphael.js"></script>
	<script type="text/javascript" src="js/resize.js"></script>
	<style media="screen"> 
            #holder {
                height: 400px;
                width: 400px;
            }
  </style>
</head>
<body>
<p><b>Resizing demos</b></p>
<p>This is using Dmitry Baranovskiy's <a href="http://raphaeljs.com/">Raphaël</a> library</a> and is indebted to <a href="http://raphaeljs.com/growing-pie.html">this demo</a></p>
<br><br>
<div id="holder"></div>
</body>
</html>
